/*VERSION DESKTOP*/
@media (min-width: 1150px) { 

	/*page actualité*/
	#actualite_content{width: 100%;margin: 55px auto 0px auto;padding: 10px 0px}	
	#actualite_content .article{background: #fff;width:1000px; height: 300px; margin: 10px auto;overflow: hidden}
	#actualite_content .article .img-actualite{float: left;width: 600px;}
	#actualite_content .article .article_texte{width:380px;margin:auto 10px ;height : 290px;float: right; text-align: center;padding: 5px 0px;overflow-y: auto}
	#actualite_content .article .article_texte .article_titre{text-align: center;margin-top: 30px}
	#actualite_content .article .article_texte .article_titre h1{margin: 0}
	#actualite_content .article .article_texte .article_titre .trait{height:1px;border-top:1px solid #000;width:150px;margin:0 auto;}
	#actualite_content .article .article_texte a{text-decoration: none;color: #18568C;}
	.actualite_fancybox .img_container{height: 200px; overflow: hidden;width: 100%}
	.actualite_fancybox .img_fancybox{width: 100%;margin-top: -25%}
	.actualite_fancybox .texte_fancybox{text-align: justify;}
	.actualite_fancybox .texte_fancybox h1{text-align: center}

	/*backoffice*/
	.list_actualites{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
	.list_actualites table{border: none; width: 100%}
	.list_actualites thead{background: #1ABC9C;}
	.list_actualites table thead th{border: none;color: #fff}
	.list_actualites table tbody td{border: none;padding: 10px;text-align: center}

	.add_actualite span{cursor: pointer}
	.add_actualite textarea{min-width: 200px;max-width:200px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.add_actualite{position: absolute;width: 250px;background: #fff;text-align: center;top: 90px;right: -300;}
	#add_actualite{cursor:pointer;height: 45px;width: 45px;background: #18568C;color: #fff;text-align: center;line-height: 45px;font-size: 30;position: absolute;top: 90px;right: 0px;}

	.add_actualite ul {margin : 0; padding-left: 0;}
	.add_actualite ul li {list-style: none; color : red; padding-top: 2px; font-family: lato;}

	.edit_actualite span{cursor: pointer}
	.edit_actualite input{width: 350px!important}
	.edit_actualite input[type=submit]{width: 200px!important}
	.edit_actualite textarea{min-width: 350px;max-width:350px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.edit_actualite {width: 550px;background: #fff;text-align: center;margin: 150px auto 0 auto;height: 495px}
}

/*VERSION TABLETTES*/
@media (min-width: 376px) and (max-width: 1149px) { 
	/*page actualité*/
	#actualite_content{width: 100%;margin: 55px auto 0px auto;padding: 10px 0px;}	
	#actualite_content .article{background: #fff;width: 600px;margin: 0px auto;text-align: center;}
	#actualite_content .article .img-actualite{width: 600px;}
	#actualite_content .article .article_texte{width:380px;margin:0px auto;text-align: center;padding: 35px;overflow-y: auto}
	#actualite_content .article .article_texte .article_titre{text-align: center;}
	#actualite_content .article .article_texte .article_titre h1{margin: 0}
	#actualite_content .article .article_texte .article_titre .trait{height:1px;border-top:1px solid #000;width:150px;margin:0 auto;}
	#actualite_content .article .article_texte a{text-decoration: none;color: #18568C;}
	.actualite_fancybox .img_container{height: 200px; overflow: hidden;width: 100%}
	.actualite_fancybox .img_fancybox{width: 100%;margin-top: -25%}
	.actualite_fancybox .texte_fancybox{text-align: justify;}
	.actualite_fancybox .texte_fancybox h1{text-align: center}
}

@media (max-width: 375px) {
	#actualite_content{margin-top: 55px; background: #fff;margin-bottom: 10px} 
	.article{display: none}
	.actualite_fancybox{display: block!important;width: 100%}
	.actualite_fancybox .img_container{width: 100%}
	.actualite_fancybox .img_container img{width: 100%}
	.texte_fancybox h1{text-align: center;}
	.texte_fancybox{padding: 0px 20px 20px 20px;}
}