@media (min-width: 1050px){

	#admin_panel{position: absolute;padding-bottom: 10px;height: 100%;width: 200px;top:55px;text-align: center; background: #1ABC9C;color: #fff;text-decoration: none}

	#admin_panel ul{list-style-type: none;padding: 0px}
	#admin_panel ul li{margin: 5px 0px}
}