@media (min-width: 1050px){
	#panel{cursor: pointer;line-height: 55px;font-family: 'Lato';font-weight: 300;display: block;text-align: center;color: #fff;float: left;position: absolute;left: 10%;}
	#panel_admin_menu{width: 220px;background: #FFF;padding: 10px;}
	#panel_admin_menu ul{list-style-type: none;padding: 0px;text-align: center;}
	#panel_admin_menu ul li{margin: 5px 0px}
	#panel_admin_menu ul li a{color: #000}
	#panel_admin_arrow{margin-left: 110px;width: 20px;}
	#panel_container{position: absolute;top: 60px;left: 100px;display:none;opacity: 0}
}