/*VERSION DESKTOP*/
@media (min-width: 1200px) { 
	#annonce_content{width: 100%;margin: 0 auto;padding: 10px 0px}	
	#annonce_content .annonce{width:810px; height: 300px; margin: 10px auto}
	#annonce_content .annonce .annonce_img{text-align: center;float: left; width: 380px;height:290px;overflow: hidden}
	#annonce_content .annonce .annonce_img img{height:100%;}
	#annonce_content .annonce .annonce_texte{background: #fff;width:380px;height : 290px;float: right; text-align: justify;padding: 5px 0px;overflow-y: auto;padding: 0 15px}
	#annonce_content .annonce .annonce_texte .description{margin-bottom: 0}
	#annonce_content .annonce .annonce_texte .prix{text-align: center;font-weight: 700;margin:0;}
	#annonce_content .annonce .annonce_texte .annonce_titre{text-align: center;margin-top: 15px}
	#annonce_content .annonce .annonce_texte .annonce_titre h1{margin: 0}
	#annonce_content .annonce .annonce_texte a{text-decoration: none;color: #18568C;}

	.img_container{height: 200px; overflow: hidden;width: 100%}
	.img_fancybox{width: 1000px;margin-top: -25%}
	.texte_fancybox{text-align: center;width: 150px;}
	.texte_fancybox h2{margin-top: 5px}
	.text_fancybox a{color: #18568C;}
	
	#annonce_recherche{margin: 70px auto 0px auto; text-align: center;background: #ffffff;width: 810px;height: 30px;padding: 10px 0px}
	#annonce_recherche input{height: 30px}
	.search{background: #DFDFDF;border: none;width: 300px}
	.select{background: #DFDFDF;border: none;width: 100px;height: 30px;}
	.submit{background: #1ABC9C;border: none;color: #fff}
}
