/*VERSION DESKTOP*/
@media (min-width: 1150px) { 
	#formation{position: relative;}
	#formation_content{width: 100%;margin: 55px auto 0px auto;padding: 10px 0px;}
	#formation_content .formation{background: #fff;width:1250px; height: 300px; margin: 50px auto;position: relative;}	
	#formation_content .formation .formation_nom .trait{height:1px;border-top:1px solid #000;width:300px;margin:0 auto;}
	#formation_content .formation .formation_texte {width:750px;margin:auto 10px ;height : 290px text-align: center;padding: 5px 0px;overflow-y: auto}
	#formation_content .formation .formation_texte .formation_nom{text-align: center;margin-top: 30px}
	#formation_content .formation .formation_texte .formation_nom h1{text-align:center;margin: 0}
	#formation_content .formation .formation_texte a{text-decoration: none;color: #18568C;}
	#formation_content .formation .img-formation{float: right;width: 380;margin-right: 40px;}
	#formation_content .content{text-align: center}
	#formation_content .formation_container{position: relative;height: 100%}
	#formation_content .inscription_formation{height: 110px;font-family: 'Lato';font-weight: 700;background-color: #1abc9c;text-align: center;position: absolute;left: -150px;top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .inscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .inscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .inscription_formation .infos_nb{margin: 20px;}
	#formation_content .inscription_formation p{margin: 0px;}
	#formation_content .inscription_formation:hover{opacity: 0.7}

	#formation_content .desinscription_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;background-color: #e74c3c;text-align: center;position: absolute;left: -150px;top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .desinscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .desinscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .desinscription_formation p{margin: 0px;}	
	#formation_content .desinscription_formation:hover{opacity: 0.7}

	.list_formations{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
	.list_formations table{border: none; width: 100%}
	.list_formations thead{background: #1ABC9C;}
	.list_formations table thead th{border: none;color: #fff}
	.list_formations table tbody td{border: none;padding: 10px;text-align: center}
	.list_formations .img-formation{width: 300px}

	.add_formation span{cursor: pointer}
	.add_formation textarea{min-width: 200px;max-width:200px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.add_formation{position: absolute;width: 250px;background: #fff;text-align: center;top: calc(50% - 368px);top: -webkit-calc(50% - 368px);top: -moz-calc(50% - 368px);top: -ms-calc(50% - 368px);right: -300;}
	#add_formation{cursor:pointer;height: 45px;width: 45px;background: #18568C;color: #fff;text-align: center;line-height: 45px;font-size: 30;position: absolute;top: 90px;right: 0px;}
	.input_form_register select{width: 100px}

	.add_formation ul {margin : 0; padding-left: 0;}
	.add_formation ul li {list-style: none; color : red; padding-top: 2px; font-family: lato;}

	.edit_formation span{cursor: pointer}
	.edit_formation input{width: 350px!important}
	.edit_formation input[type=submit]{width: 200px!important}
	.edit_formation textarea{min-width: 350px;max-width:350px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.edit_formation {width: 550px;background: #fff;text-align: center;margin: -webkit-calc(25% - 295px) auto 0 auto;margin: -moz-calc(25% - 295px) auto 0 auto;margin: -ms-calc(25% - 295px) auto 0 auto;height: 690px}

	#formation_content .complet_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;text-align: center;position: absolute;left: calc(50% - 55px);left: -webkit-calc(50% - 55px);left: -moz-calc(50% - 55px);left: -ms-calc(50% - 55px);top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 110px;color: #fff;text-decoration: none;background: #e74c3c;border-radius: 110px}
	#formation_content .complet_formation a:active{text-decoration: none;color: #e74c3c}
	#formation_content .complet_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .complet_formation p{margin: 0px;}	
	.blur{filter: blur(5px);	-webkit-filter: blur(5px);	-moz-filter: blur(5px);	-o-filter: blur(5px);	-ms-filter: blur(5px);}
}

@media (min-width: 870px) and (max-width: 1149px) { 
	#formation{position: relative;}
	#formation_content{width: 100%;margin: 55px auto 0px auto;padding: 10px 0px;}
	#formation_content .formation{background: #fff; height: 300px; margin: 50px 20px 0px 170px;position: relative;}	
	#formation_content .formation .formation_nom .trait{height:1px;border-top:1px solid #000;width:300px;margin:0 auto;}
	#formation_content .formation .formation_texte {margin:auto 10px ;height : 290px text-align: center;padding: 5px 0px;overflow-y: auto}
	#formation_content .formation .formation_texte .formation_nom{text-align: center;margin-top: 30px}
	#formation_content .formation .formation_texte .formation_nom h1{text-align:center;margin: 0}
	#formation_content .formation .formation_texte a{text-decoration: none;color: #18568C;}
	#formation_content .formation .img-formation{float: right;width: 320px;height:300px;margin-right: 40px;}
	#formation_content .content{text-align: center}
	#formation_content .formation_container{position: relative;height: 100%}
	#formation_content .inscription_formation{height: 110px;font-family: 'Lato';font-weight: 700;background-color: #1abc9c;text-align: center;position: absolute;left: -150px;top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .inscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .inscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .inscription_formation .infos_nb{margin: 20px;}
	#formation_content .inscription_formation p{margin: 0px;}
	#formation_content .inscription_formation:hover{opacity: 0.7}

	#formation_content .desinscription_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;background-color: #e74c3c;text-align: center;position: absolute;left: -150px;top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .desinscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .desinscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .desinscription_formation p{margin: 0px;}	
	#formation_content .desinscription_formation:hover{opacity: 0.7}

	.list_formations{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
	.list_formations table{border: none; width: 100%}
	.list_formations thead{background: #1ABC9C;}
	.list_formations table thead th{border: none;color: #fff}
	.list_formations table tbody td{border: none;padding: 10px;text-align: center}

	.add_formation span{cursor: pointer}
	.add_formation textarea{min-width: 200px;max-width:200px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.add_formation{position: absolute;width: 250px;background: #fff;text-align: center;top: calc(50% - 368px);top: -webkit-calc(50% - 368px);top: -moz-calc(50% - 368px);top: -ms-calc(50% - 368px);right: -300;}
	#add_formation{cursor:pointer;height: 45px;width: 45px;background: #18568C;color: #fff;text-align: center;line-height: 45px;font-size: 30;position: absolute;top: 90px;right: 0px;}
	.input_form_register select{width: 100px}

	.add_formation ul {margin : 0; padding-left: 0;}
	.add_formation ul li {list-style: none; color : red; padding-top: 2px; font-family: lato;}

	.edit_formation span{cursor: pointer}
	.edit_formation input{width: 350px!important}
	.edit_formation input[type=submit]{width: 200px!important}
	.edit_formation textarea{min-width: 350px;max-width:350px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.edit_formation {width: 550px;background: #fff;text-align: center;margin: -webkit-calc(25% - 295px) auto 0 auto;margin: -moz-calc(25% - 295px) auto 0 auto;margin: -ms-calc(25% - 295px) auto 0 auto;height: 690px}

	#formation_content .complet_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;text-align: center;position: absolute;left: calc(50% - 55px);left: -webkit-calc(50% - 55px);left: -moz-calc(50% - 55px);left: -ms-calc(50% - 55px);top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 110px;color: #fff;text-decoration: none;background: #e74c3c;border-radius: 110px}
	#formation_content .complet_formation a:active{text-decoration: none;color: #e74c3c}
	#formation_content .complet_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .complet_formation p{margin: 0px;}	
	.blur{filter: blur(5px);	-webkit-filter: blur(5px);	-moz-filter: blur(5px);	-o-filter: blur(5px);	-ms-filter: blur(5px);}

}

@media (min-width: 501px) and (max-width: 871px) { 

	#formation{position: relative;}
	#formation_content{width: 100%;margin: 55px auto 0px auto;padding: 10px 0px;}
	#formation_content .formation{background: #fff; height: 550px; margin: 50px 20px 0px 170px;position: relative;}	
	#formation_content .formation .formation_nom .trait{height:1px;border-top:1px solid #000;width:300px;margin:0 auto;}
	#formation_content .formation .formation_texte {margin:auto 10px ;height : 290px text-align: center;padding: 5px 0px;overflow-y: auto}
	#formation_content .formation .formation_texte .formation_nom{text-align: center;margin-top: 30px}
	#formation_content .formation .formation_texte .formation_nom h1{text-align:center;margin: 0}
	#formation_content .formation .formation_texte a{text-decoration: none;color: #18568C;}
	#formation_content .formation .img-formation{height:300px;}
	#formation_content .content{text-align: center}
	#formation_content .formation_container{position: relative;height: 100%;text-align: center}
	#formation_content .inscription_formation{height: 110px;font-family: 'Lato';font-weight: 700;background-color: #1abc9c;text-align: center;position: absolute;left: -150px;top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .inscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .inscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .inscription_formation .infos_nb{margin: 20px;}
	#formation_content .inscription_formation p{margin: 0px;}
	#formation_content .inscription_formation:hover{opacity: 0.7}

	#formation_content .desinscription_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;background-color: #e74c3c;text-align: center;position: absolute;left: -150px;top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .desinscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .desinscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .desinscription_formation p{margin: 0px;}	
	#formation_content .desinscription_formation:hover{opacity: 0.7}

	.list_formations{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
	.list_formations table{border: none; width: 100%}
	.list_formations thead{background: #1ABC9C;}
	.list_formations table thead th{border: none;color: #fff}
	.list_formations table tbody td{border: none;padding: 10px;text-align: center}

	.add_formation span{cursor: pointer}
	.add_formation textarea{min-width: 200px;max-width:200px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.add_formation{position: absolute;width: 250px;background: #fff;text-align: center;top: calc(50% - 368px);top: -webkit-calc(50% - 368px);top: -moz-calc(50% - 368px);top: -ms-calc(50% - 368px);right: -300;}
	#add_formation{cursor:pointer;height: 45px;width: 45px;background: #18568C;color: #fff;text-align: center;line-height: 45px;font-size: 30;position: absolute;top: 90px;right: 0px;}
	.input_form_register select{width: 100px}

	.add_formation ul {margin : 0; padding-left: 0;}
	.add_formation ul li {list-style: none; color : red; padding-top: 2px; font-family: lato;}

	.edit_formation span{cursor: pointer}
	.edit_formation input{width: 350px!important}
	.edit_formation input[type=submit]{width: 200px!important}
	.edit_formation textarea{min-width: 350px;max-width:350px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.edit_formation {width: 550px;background: #fff;text-align: center;margin: -webkit-calc(25% - 295px) auto 0 auto;margin: -moz-calc(25% - 295px) auto 0 auto;margin: -ms-calc(25% - 295px) auto 0 auto;height: 690px}

	#formation_content .complet_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;text-align: center;position: absolute;left: calc(50% - 55px);left: -webkit-calc(50% - 55px);left: -moz-calc(50% - 55px);left: -ms-calc(50% - 55px);top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 110px;color: #fff;text-decoration: none;background: #e74c3c;border-radius: 110px}
	#formation_content .complet_formation a:active{text-decoration: none;color: #e74c3c}
	#formation_content .complet_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .complet_formation p{margin: 0px;}	
	.blur{filter: blur(5px);	-webkit-filter: blur(5px);	-moz-filter: blur(5px);	-o-filter: blur(5px);	-ms-filter: blur(5px);}


}

@media (max-width: 500px) {
	#formation{position: relative;}
	#formation_content{width: 100%;margin: 75px auto 0px auto;padding: 10px 0px;}
	#formation_content .formation{background: #fff; width: 90%;height: 550px; margin: 0px auto 150px auto;position: relative;}	
	#formation_content .formation .formation_nom .trait{height:1px;border-top:1px solid #000;width:300px;margin:0 auto;}
	#formation_content .formation .formation_texte {margin:0px auto ;height : 290px text-align: center;padding: 5px 0px;overflow-y: auto}
	#formation_content .formation .formation_texte .formation_nom{text-align: center;margin-top: 30px}
	#formation_content .formation .formation_texte .formation_nom h1{text-align:center;margin: 0}
	#formation_content .formation .formation_texte a{text-decoration: none;color: #18568C;}
	#formation_content .formation .img-formation{height:300px;}
	#formation_content .content{text-align: center}
	#formation_content .formation_container{position: relative;height: 100%;text-align: center}
	#formation_content .inscription_formation{height: 110px;font-family: 'Lato';font-weight: 700;background-color: #1abc9c;text-align: center;position: absolute;bottom: -110px;left: calc(50% - 75px);left: -webkit-calc(50% - 75px);left: -moz-calc(50% - 75px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .inscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .inscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .inscription_formation .infos_nb{margin: 20px;}
	#formation_content .inscription_formation p{margin: 0px;}
	#formation_content .inscription_formation:hover{opacity: 0.7}

	#formation_content .desinscription_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;background-color: #e74c3c;text-align: center;position: absolute;bottom: -110px;left: calc(50% - 75px);left: -webkit-calc(50% - 75px);left: -moz-calc(50% - 75px);width: 150px;color: #fff;text-decoration: none;}
	#formation_content .desinscription_formation a:active{text-decoration: none;color: #fff}
	#formation_content .desinscription_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .desinscription_formation p{margin: 0px;}	
	#formation_content .desinscription_formation:hover{opacity: 0.7}

	.list_formations{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
	.list_formations table{border: none; width: 100%}
	.list_formations thead{background: #1ABC9C;}
	.list_formations table thead th{border: none;color: #fff}
	.list_formations table tbody td{border: none;padding: 10px;text-align: center}

	.add_formation span{cursor: pointer}
	.add_formation textarea{min-width: 200px;max-width:200px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.add_formation{position: absolute;width: 250px;background: #fff;text-align: center;top: calc(50% - 368px);top: -webkit-calc(50% - 368px);top: -moz-calc(50% - 368px);top: -ms-calc(50% - 368px);right: -300;}
	#add_formation{cursor:pointer;height: 45px;width: 45px;background: #18568C;color: #fff;text-align: center;line-height: 45px;font-size: 30;position: absolute;top: 90px;right: 0px;}
	.input_form_register select{width: 100px}

	.add_formation ul {margin : 0; padding-left: 0;}
	.add_formation ul li {list-style: none; color : red; padding-top: 2px; font-family: lato;}

	.edit_formation span{cursor: pointer}
	.edit_formation input{width: 350px!important}
	.edit_formation input[type=submit]{width: 200px!important}
	.edit_formation textarea{min-width: 350px;max-width:350px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
	.edit_formation {width: 550px;background: #fff;text-align: center;margin: -webkit-calc(25% - 295px) auto 0 auto;margin: -moz-calc(25% - 295px) auto 0 auto;margin: -ms-calc(25% - 295px) auto 0 auto;height: 690px}

	#formation_content .complet_formation{line-height: 110px;height: 110px;font-family: 'Lato';font-weight: 700;text-align: center;position: absolute;left: calc(50% - 55px);left: -webkit-calc(50% - 55px);left: -moz-calc(50% - 55px);left: -ms-calc(50% - 55px);top: calc(50% - 55px);top: -webkit-calc(50% - 55px);top: -moz-calc(50% - 55px);width: 110px;color: #fff;text-decoration: none;background: #e74c3c;border-radius: 110px}
	#formation_content .complet_formation a:active{text-decoration: none;color: #e74c3c}
	#formation_content .complet_formation .link{transform: rotate(-90deg);position: absolute;left: -35px;top: 45px;}
	#formation_content .complet_formation p{margin: 0px;}	
	.blur{filter: blur(5px);	-webkit-filter: blur(5px);	-moz-filter: blur(5px);	-o-filter: blur(5px);	-ms-filter: blur(5px);}

}