/*VERSION DESKTOP*/
@media (min-width: 1200px) { 
	#information_parent{width: 600px;margin: 155px auto 0px auto}	
	#information_parent .information_block{width: 600px;text-align:center; margin:0 auto;border-top: 1px solid #18B293;border-bottom: 1px solid #18B293}
	#information_parent .information_block .information_titre{cursor:pointer;background: #1abc9c;color: #fff;height: 28px;}
	#information_parent .information_block .information_titre h3{margin: 0; margin: 0;line-height: 28px}
	#information_parent .information_block .information_content{background: #fff;max-height: 300px;overflow: auto}
	#information_parent .information_block .information_content p{text-align:justify;margin: 0;padding: 10px 15px;}
}
