/*VERSION DESKTOP*/
@media (min-width: 1200px) { 
#ligue_content{width: 100%;margin: 55px auto 0px auto;padding: 10px 0px;}
#ligue_content #ligue_index{width :210px; margin :0 auto; background-color: #fff; position:fixed; left:0; top :35%; border-radius: 0px 120px 120px 0px / 0px 120px 120px 0px;}
#ligue_content #ligue_index ul  { padding-left: 10px;}
#ligue_content #ligue_index ul li {list-style: none; font-size: 1.1em;}
#ligue_content #ligue_index a:hover {font-weight: bold;}
#ligue_content #ligue{width: 1250px; height: 200px; margin : 10px auto; background-color: #fff;}
#ligue_content #ligue img {float:left;width: 200px;height:200px;margin: 0 30px 0 30px ;}
#ligue_content #ligue #ligue_text {padding-right: 20px;}
#ligue_content #ligue #ligue_text p{text-align: justify;}

.list_ligues{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
.list_ligues table{border: none; width: 100%}
.list_ligues thead{background: #1ABC9C;}
.list_ligues table thead th{border: none;color: #fff}
.list_ligues table tbody td{border: none;padding: 10px;text-align: center}

.add_ligue span{cursor: pointer}
.add_ligue textarea{min-width: 200px;max-width:200px;min-height: 150px;max-height: 150px;background: #E1E1E1;border:none;}
.add_ligue{position: absolute;width: 250px;background: #fff;text-align: center;top: 90px;right: -300;height: 495px}
#add_ligue{cursor:pointer;height: 45px;width: 45px;background: #18568C;color: #fff;text-align: center;line-height: 45px;font-size: 30;position: absolute;top: 90px;right: 0px;}
}