/*VERSION DESKTOP*/
@media (min-width: 1200px) { 

.list_utilisateurs{width:1000px;margin-top: 90px;margin-left:auto;margin-right: auto;text-align: center; background: #fff}
.list_utilisateurs table{border: none; width: 100%}
.list_utilisateurs thead{background: #1ABC9C;}
.list_utilisateurs table thead th{border: none;color: #fff}
.list_utilisateurs table tbody td{border: none;padding: 10px;text-align: center}

}