{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
<div id="information_parent">
	{% for information in infoList %}
	    	<div class="information_block">
				<div class="information_titre">
	    		<h2>{{ information.titre }}</h2>
	    		</div>
	    		<div class="information_content">
	    		<p>{{ information.contenu }}</p>
				</div>
	    </div>
	{% endfor %}
</div>
{% endblock %}