{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/ppem2l/css/menu.css') }}"/>
{% endblock %}

<div id="menu">
	
<img id="logo" src="{{ asset('bundles/ppem2l/img/logo.png') }}" alt="">

	<ul>
		<li><a href="{{ path( 'ppem2_l_informations' ) }}">Informations</a></li>
		<li><a href="#">Réservations</a></li>
		<li><a href="#">Annonces</a></li>
		<li><a href="#">Formations</a></li>
		<li><a href="#">Ligues</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Connexion</a></li>
		<li><a href="#">Inscription</a></li>
		<li><a href="#">Mon compte</a></li>
	</ul>

</div>