/*VERSION DESKTOP*/
@media (min-width: 1200px) { 
	.fos_user_user_show{height: 520px;margin-top: calc(25% - 290px);margin-top: -webkit-calc(25% - 290px);margin-top: -moz-calc(25% - 290px)margin-top: -ms-calc(25% - 290px);margin-left: auto;margin-right: auto;width: 400px;text-align: center; background: #fff}
}